In [1]:
import pandas as pd
dataset = pd.read_csv('2.Car.csv')
X = dataset[['Age','Income']]
y = dataset[['Car']]
dataset

    Age  Income  Car
0    28   37000    0
1    27   88000    0
2    28   59000    0
3    32   86000    0
4    33  149000    1
..  ...     ...  ...
95   28   89000    0
96   34   43000    0
97   30   79000    0
98   20   36000    0
99   26   80000    0

[100 rows x 3 columns]

In [2]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.118, random_state = 0)
print(X_train)
print(y_train)
print(X_test)
print(y_test)

    Age  Income
78   25   22000
13   38   61000
7    26   35000
30   26   84000
22   37   72000
..  ...     ...
96   34   43000
67   22   55000
64   35   38000
47   27   96000
44   30   89000

[88 rows x 2 columns]
    Car
78    0
13    0
7     0
30    0
22    0
..  ...
96    0
67    0
64    0
47    1
44    0

[88 rows x 1 columns]
    Age  Income
26   39   61000
86   31   66000
2    28   59000
55   40   47000
75   34   72000
93   29   43000
16   40   57000
73   26  118000
54   36   50000
95   28   89000
53   31   76000
92   19   26000
    Car
26    0
86    0
2     0
55    0
75    0
93    0
16    0
73    0
54    0
95    0
53    0
92    0

In [3]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

/home/dell/.local/lib/python3.8/site-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [5]:
classifier.predict(X_test)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [6]:
classifier.score(X_test,y_test)

1.0